{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Python Project Box</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
  }
  #features-container .card{
    width:80%;
  }
  #follow{
    background-color:white;
    padding-bottom: 0px;
  }
  #follow h3{
    color : #6610f2;
    font-family: monospace;
  }
  
  #follow .row{
    text-align: left;
    margin: 10px 20px;
  }
  #follow p{
    font-size: 20px;
    
  }
  #follow a, .contact-links{
    color: black;
    text-decoration: underline;
    text-decoration-color: #6610f2;
  }
  #follow a img{
    margin: 2px 5px;
  }
  
 
  .row h4{
    color: #6610f2;
  }
  .project-links a:hover{

color:  #6610f2;

  }
  .row:last-child a{
    cursor: pointer;
  }
.row h4,.row h3{
  margin: 35px 0 6px 0;
}
.copyrights{
  background-color:  #6f42c1;
  
}
.copyrights h4{
  font-size: 20px;
  text-align: left;
  padding: 10px;
  color: white;
  margin-bottom: 0px;
  
}
#project-numbers h4{
  color: white;
}
.contributors a{
  cursor: pointer;
}
.contributors a:hover{
  cursor: pointer;
}



@media (max-width : 420px){
  .navbar-nav a{
  font-size: 20px;
  }
  .jumbotron{
    top: 100px;
  }
  .card-text{
    font-size: 16px;
  }
  #follow img{
    width: 25px;
    height: 25px;
  }
  .contact-links{
    font-size: 17px;
  }
  .project-links a, .contributors a{
    font-size: 20px;
  }
  #top-container{
    height: 50rem;
  }
  .navbar-toggler-icon{
    width: 1rem;
      height: 1rem;
  }
}
@media (min-width : 420px){
  #follow span{
    font-size: 20px;
  }
  .row:first-child a{
    font-size: 20px;
  }

}

#line{
  background-color: #6610f2;
  height: 2px;
}
@media (min-width: 1200px) and (max-width: 1350px) {
   #navbarText .navbar-nav {
    margin-left: 0px;
   }
}
@media (min-width: 650px) and (max-width: 991px) {
  
}

</style>

<body>
  <div id="top-container">
    <div class="top-bar">
      <nav class="sticky-top navbar navbar-expand-xl navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <span class="title1">Python</span>
          <span class="title2">Project</span>
          <span class="title3">Box</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pythonprojects/projects">Python Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="python_automation_projects/projects">Python Automation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="machine_learning_projects/projects">Machine Learning</a>
            </li>
          </ul>

        </div>
      </nav>
    </div>
    <div class="jumbotron">
      <h2 class="display-4">
        We provide the best projects to become master in Python and Machine Learning.

      </h2>
      <p class="lead">This is a website where you will get projects to enhance your Python skills for completely free.
      </p>
      <hr class="my-4">
      <p class="lead">We provide projects on Python, Machine Learning, Web Development, Python Automation and Programs for beginners.</p>

    </div>
  </div>
  <div id="features-container">

    <div class="container-fluid">
      <div class="row">
        <div class="features-tiles col-xs-12 col-lg-6 col-xl-4 col-md-6">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/python_logo.png' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Python Projects</h5>
              <p class="card-text">All real world projects are available in Python.</p>
              <a href="pythonprojects/projects" class="btn btn-primary">Start Learning</a>
            </div>
          </div>

        </div>
        <div class="features-tiles col-xs-12 col-lg-6 col-xl-4 col-md-6">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/machine_learning.png' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Machine Learning Projects</h5>
              <p class="card-text">Hands on experience on real world Machine Learning Projects.</p>
              <a href="machine_learning_projects/projects" class="btn btn-primary">Start Learning</a>
            </div>
          </div>

        </div>
        <div class="features-tiles col-xs-12 col-lg-6 col-xl-4 col-md-6">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/Python-Automation.png' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Automation Projects</h5>
              <p class="card-text">Automating our boaring tasks using Python.</p>
              <a href="python_automation_projects/projects" class="btn btn-primary">Start Learning</a>
            </div>
          </div>

        </div>
        <div class="features-tiles col-xs-12 col-lg-6 col-xl-4 col-md-6">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/software.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Software using Python</h5>
              <p class="card-text">These are the softwares developed using python by our contributors.</p>
              <a href="software_projects/projects" class="btn btn-primary">Check Now</a>
            </div>
          </div>

        </div>
        <div class="features-tiles col-xs-12 col-lg-6 col-xl-4 col-md-6">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/website_logo.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Web Development Projects</h5>
              <p class="card-text">Build Amazing Professional Websites.</p>
              <a href="web_development_projects/projects" class="btn btn-primary">Start Learning</a>
            </div>
          </div>

        </div>
        <div class="features-tiles col-xs-12 col-lg-6 col-xl-4 col-md-6">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/python_c_java.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Beginner Level Programs</h5>
              <p class="card-text">Beginner Level Programs are avaliable in C, Java and Python</p>
              <a href="basic_programs/projects" class="btn btn-primary">Start Learning</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div id="project-numbers">

      <div class="numbers-styling row">
        <div class="sameline-clients">
          <h3>102+</h3>
          <h4>Projects</h4>
        </div>
        <div class="sameline-clients">
          <h3>18+</h3>
          <h4>Contributors</h4>
        </div>
        <div class="sameline-clients">
          <h3>156+</h3>
          <h4>Happy Users</h4>
        </div>
      </div>

    </div>



  </div>

  <div id="customers">
    <h3>What do they say?</h3>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card customer-carousel">

            <div class="card-body">
              <h5 class="card-title">Jagjeevan Netha</h5>
              <p class="card-text">Projects are really good to make hands dirty.I really learnt so much from this projects.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card customer-carousel">

            <div class="card-body">
              <h5 class="card-title">Mahendar</h5>
              <p class="card-text">Thanks for uploading such amazing projects.Wishing to add more projects in future.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card customer-carousel">

            <div class="card-body">
              <h5 class="card-title">Lokesh</h5>
              <p class="card-text">Always looking for such amazing content.Waiting for uploading Machine Learning Projects.and some softwares come into handy.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>

  <div id="latest-projects">
    <h2><span>Latest </span><span>Projects</span></h2>
    <div class="container-fluid">
      <div class="row">

        <div class="features-tiles col-xs-12 col-lg-4">
          <div class="card">
            <img class="card-img-top" src="url_blocker.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">URL Blocker</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>

        </div>
        <div class="features-tiles col-xs-12 col-lg-4">
          <div class="card">
            <img class="card-img-top" src="url.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>

        </div>
        <div class="features-tiles col-xs-12 col-lg-4">
          <div class="card">
            <img class="card-img-top" src="tictactoe.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

  <div id="customers-response">
    <h3>Have a message?</h3>
    <form action="mailto:someone@example.com" method="post" enctype="text/plain">
      {% csrf_token %}
      <input type="text" id="fullname" class="form-inputs" placeholder="Full Name" maxlength="30" lang="en"
        name="fullname" required><br>
      <input class="form-inputs" type="email" id="email" placeholder="Email Address" lang="en" name="email" required>
      <br>
      <textarea class="form-inputs" id="message" name="w3review" rows="4" cols="30"
        placeholder="Your Message" required></textarea>
      <br>
      <button type="submit" class="form-inputs">Send Message</button>


    </form>

  </div>

  <div id="follow">

      <div class = "row">
        <div class = "col-lg-4 col-md-4 col-sm-12" >
            <h3>PythonProjectBox</h3>
            <span class = "contact-links">Follow us on Instagram:</span>
            <a href="https://www.instagram.com/themightypythonista/" target="_blank"><img src="{% static 'images/instagram.png' %}" width="50px" height="50px"></a>
    <br>
    <p><a href="mailto:someone@example.com" class = "contact-links">Feedback@mightypython.com<img src = "https://img.icons8.com/ios/452/apple-mail.png" width="50px" height="50px"></a></p> 
    
  </div>
        <div class = "col-lg-4 col-md-4 col-sm-12 project-links" >
            <h4>Projects</h4>
            <a href = "pythonprojects/projects">Python Projects</a><br>
            <a href="machine_learning_projects/projects">Machine Learning Projects</a><br>
            <a href="python_automation_projects/projects">Python Automation Projects</a><br>
            <a  href="web_development_projects/projects">Web Development Projects</a><br>
            <a href="software_projects/projects">Softwares</a><br>
            <a href="basic_programs/projects">Basic Programs</a>
        </div>
        <div class = "col-lg-4 col-md-4 col-sm-12 contributors" >
          <h4>Contribute</h4>
          <a href="pythonprojects/contributors">Our Top Contributors</a><br>
          <a href="mailto:someone@example.com">Want To Contribute?</a>
        </div>
      </div>
      <div class = "copyrights">
        <h4>@pythonprojectbox, Some rights Reserved</h4>
      </div>

  </div>
  <script>
    if(window.matchMedia("(max-width: 380px)").matches){
      
    }
  </script>
</body>

</html>